

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




body, html {
    height: 100%;

}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -30px;
    /* Pad bottom by footer height */
    padding: 0 0 30px;
}

#footer {
    height: 30px;
    background-color: #272b30;
    border-top: 1px solid #272b00;
    line-height: 30px;
}

#inner-wrap {
    /*padding-top: 10px;*/
    /*background-color: #20829f;*/
    /*background-image:url("/public/img/canadian-coat-of-arms-smaller.png");
    background-repeat: repeat-x;*/
}

.wrapped {
    background-color: #272b30;
}


#top {
    background-image:url("/public/img/canadian-coat-of-arms-small.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 25%;
}









