<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary gradient" ng-class="{'panel-selected': primary.filename == selected}">
            <h2 id="{{primary.filename}}" class="panel-title"><a ng-href="#{{primary.filename}}" ng-click="$event.preventDefault(); setSelected(primary.filename)">{{primary.title}}</a></h2>
            <div class="panel-body">
                <p>{{primary.description}}</p>
                <a ng-href="/api/files/{{primary.filename}}" class="pull-right" target="_blank"><span class="glyphicon glyphicon-file"> </span></a>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-repeat="row in rows">
    <div class="col-lg-6" ng-repeat="document in row">
        <div class="panel panel-primary gradient" ng-class="{'panel-selected': document.filename == selected}">
            <h2 id="{{document.filename}}" class="panel-title"><a ng-href="#{{document.filename}}" ng-click="$event.preventDefault(); setSelected(document.filename)">{{document.title}}</a></h2>
            <div class="panel-body">
                <p>{{document.description}}</p>
                <a ng-href="/api/files/{{document.filename}}" class="pull-right" target="_blank"><span class="glyphicon glyphicon-file"> </span></a>
            </div>
        </div>
    </div>
</div>
