<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary gradient" ng-class="{'panel-selected': primary.filename == selected}">
            <h2 id="{{primary.filename}}" class="panel-title">{{primary.title}}</h2>
            <div class="panel-body">
                <p>{{primary.description}}</p>
                <a ng-href="/public/files/{{document.filename}}" class="pull-right"><span class="glyphicon glyphicon-file"> </span></a>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-repeat="row in rows">
    <div class="col-lg-6" ng-repeat="document in row">
        <div class="panel panel-primary gradient" ng-class="{'panel-selected': document.filename == selected}">
            <h2 id="{{document.filename}}" class="panel-title">{{document.title}}</h2>
            <div class="panel-body">
                <p>{{document.description}}</p>
                <a ng-href="/public/files/{{document.filename}}" class="pull-right"><span class="glyphicon glyphicon-file"> </span></a>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-lg-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div> -->

</div>
